*{
	box-sizing: border-box;
}
body{
	font-family: Arial;
	padding: 10px;
	
}


.header{
	text-align: center;
	padding: 30px;
	background: white;
}
.header h1{
	font-size: 50px;
}
.topnav{
	overflow: hidden;
	background: #333;
	
}
.move{
	float: left;
}
.topnav a{
	float: left;
	display: block;
	color: #f2f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}
.topnav a:hover{
	background: #ddd;
	color: black;
}
.leftcolumn{
	float: left;
	width: 75%;
}
.card{
	background: white;
	padding: 20px;
	margin-top: 20px;
}
.rightcolumn{
	float: left;
	width: 25%;
	background: #1f1f1f;
	padding-left: 5px;
}
.fakeimg{
	width: 100%;
	padding: 20px;
	background-color: #aaa;
	text-align: center;
}
.footer{

	height: 1000px;
	text-align: center;
}
.change{
	color: green;
}